:root {
    --mainMaxWidth: 1300px;
    --viewColWidth: 300px;
    --pageColor: #1B1A1B;
    --elementColor: #373737;
    --elementBorderColor: rgb(255, 255, 255, .2);
    --textColor: white;
    --subElementColor: #2b2b2b;
    --subElementColorLight: rgb(87, 87, 87);
}

body {
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;

    background-color: var(--pageColor);
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
}

.gradientText {
    /* Fallback: Set a background color. */
    background-color: var(--textColor);

    /* Create the gradient. */
    background-image: linear-gradient(266.63deg, #FFFFFF -10.3%, #72C4FF 3.85%, #FF7BDA 18%, #FFF59A 32.75%, #FFFFFF 47.49%);

    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

header {
    background-color: var(--elementColor);
    padding: 20px;
    border-bottom: 1px solid var(--elementBorderColor);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* nav>input {
    transform: scale(110%);
    margin-right: 5px;
} */

nav>a {
    transition: color .2s ease-out;
}

nav>a:nth-last-child(1):hover {
    color: #72C4FF;
}

nav>a:nth-last-child(1):hover img {
    filter: invert(81%) sepia(36%) saturate(3469%) hue-rotate(176deg) brightness(100%) contrast(102%);
}

nav>a:nth-last-child(2):hover {
    color: #FF7BDA;
}

nav>a:nth-last-child(2):hover img {
    filter: invert(77%) sepia(64%) saturate(2859%) hue-rotate(282deg) brightness(101%) contrast(101%);
}

nav>a:nth-last-child(3):hover {
    color: #FFF59A;
}

nav>a:nth-last-child(3):hover img {


    filter: invert(87%) sepia(69%) saturate(342%) hue-rotate(324deg) brightness(103%) contrast(108%);
}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

nav img {
    display: block;
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 20px;
    margin-right: 7px;
}

nav div {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

nav div img {
    margin: 0px;
    height: 20px;
    width: 20px;
}

nav a {
    /* 
    width: 40px; */

    border: solid 1px rgb(255, 255, 255, 0);

    padding: 3px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover {
    background-color: var(--subElementColorLight);
    border: solid 1px var(--elementBorderColor);
    border-radius: 2px;
}

nav a:active {
    filter: brightness(85%);
}

nav .vertSpacer {
    height: auto;
}

h1,
h2,
h3 {
    margin: 0px;
}

h3 {
    transform: scaleY(70%) translateY(-35%);
}

main {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: calc(50vw - var(--mainMaxWidth) / 2) var(--viewColWidth) 1fr calc(50vw - var(--mainMaxWidth) / 2);
    margin: 7px;
    min-height: 0;
}

main>* {
    min-height: 0;
}

main>*>* {
    background-color: var(--elementColor);
    margin: 7px;
    padding: 7px;
    border: 1px solid var(--elementBorderColor);
    /* border-image-source: linear-gradient(188.41deg, rgba(255, 255, 255, 0.36) -1.54%, rgba(114, 196, 255, 0.289412) 20.66%, rgba(255, 123, 218, 0.36) 29.22%, rgba(255, 245, 154, 0.229412) 37.52%, rgba(255, 255, 255, 0) 70.32%, rgba(255, 255, 255, 0.36) 100.66%); */

    min-height: 0px;
    height: calc(100% - 32px);
    border-radius: 4px;
}

main>section {
    grid-column: 3;
    grid-row: 1 / -1;
}

main>.hFiller1 {
    grid-column: 1;
    grid-row: 1/3;
}

main>.hFiller2 {
    grid-column: 4;
    grid-row: 1/3;
}

#view {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1px 2fr;
    gap: 10px;
}

.vertSpacer {
    height: 100%;
    width: 1px;
    background-color: var(--elementBorderColor);
}

#view>*:not(:first-child) {
    justify-self: center;
    align-self: center;
}

#view img {
    -webkit-filter: invert(1);
    filter: invert(1);
    width: 20px;
}

#view a {
    width: 100%;
    background-color: var(--subElementColorLight);
    border: solid 1px var(--elementBorderColor);
    border-radius: 2px;

    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#view a:hover {
    filter: brightness(85%);
}

#view a:active {
    filter: brightness(70%);
}

#queueContainer {
    position: relative;
}

#queue {
    display: flex;
    flex-direction: column;
    gap: 7px;

    padding-top: 7px;

    height: calc(100% - 27px);
    overflow: auto;
}

#queue>* {
    background-color: var(--subElementColor);
    width: calc(100% - 18px);
    min-height: 40px;
    padding: 5px;
    border: 1px solid var(--elementBorderColor);
    border-radius: 3px;

    transition: border .1s ease-in;
}

#queue>*:hover {
    border: 1px solid white;
}

#queueBottomGradient {
    position: absolute;
    bottom: 0px;
    height: 200px;
    width: calc(var(--viewColWidth) - 52px);
    background: linear-gradient(0deg, var(--elementColor) 0%, rgba(0, 0, 0, 0) 100%);
}

#calendar {
    height: calc(100% - 36px);
}

#calendarHeader {
    padding-left: 5px;
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: 10px;

    margin-top: 13px;
    margin-bottom: 20px;
}

#calendarHeader .vertSpacer {
    width: 1px;
    height: 28px;
}

#calendarHeader>h2 {
    justify-self: start;
}

#calendarHeader>* {
    justify-self: end;
}

#calendarHeader>div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
}

#calendarHeader a {
    background-color: var(--subElementColorLight);
    border: solid 1px var(--elementBorderColor);
    border-radius: 2px;

    display: flex;
    justify-content: center;
    width: 60px;
    text-align: center;

    padding: 4px;
}

#calendarHeader a:hover {
    filter: brightness(85%);
}

#calendarHeader a:active {
    filter: brightness(70%);
}

#calendarHeader img {
    display: block;
    justify-self: center;
    -webkit-filter: invert(1);
    filter: invert(1);
    height: 18px;
}

#calendarHeader a:has(> img) {
    width: 18px;
}

#calendarBody {
    /* 
    background-color: lightgray;
    color: #1B1A1B;
    border: solid 1px var(--elementBorderColor);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px; */
    height: calc(100% - 27px);

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: min-content repeat(5, 1fr);
    gap: 3px;
}

#calendarBody>* {
    background-color: var(--subElementColorLight);
    border: solid 1px var(--elementBorderColor);
    /* 
    border-radius: 2px; */
    padding: 5px;
    text-align: center;
}

#calendarBody>*:nth-child(1) {
    border-top-left-radius: 3px;
}

#calendarBody>*:nth-child(7) {
    border-top-right-radius: 3px;
}

#calendarBody>*:nth-last-child(7) {
    border-bottom-left-radius: 3px;
}

#calendarBody>*:nth-last-child(1) {
    border-bottom-right-radius: 3px;
}